{% extends 'base.html' %}
{% load staticfiles %}

<html>
<head>
    <title>Gallery Page</title>
</head>
<body>
{% block content %}

<h1 class="text-center text-danger"></h1>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'images/pic1.jpg' %}" style="width:100%;height:100%">
        </div>
        <div class="col-md-6">
            <img src="{% static 'images/pic2.jpeg' %}" style="width:100%;height:100%">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'images/pic3.jpg' %}" style="width:100%;height:100%">
        </div>
        <div class="col-md-6">
            <img src="{% static 'images/pic4.jpg' %}" style="width:100%;height:100%">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'images/pic5.jpg' %}" style="width:100%;height:100%">
        </div>
        <div class="col-md-6">
            <img src="{% static 'images/pic6.jpg' %}" style="width:100%;height:100%">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'images/pic7.jpg' %}" style="width:100%;height:100%">
        </div>
        <div class="col-md-6">
            <img src="{% static 'images/pic8.jpg' %}" style="width:100%;height:100%">
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>