{%  extends 'base.html' %}
<html>
<head>
    <title>Home Page</title>
</head>
<body>
{% block content %}
<dl>
    <dt class="font-weight-bold">About founder</dt>
    <dd> Mr N. Durga Prasad ( M.Tech), PostGraduate from Andhra University and then started working as Software Engineer from IBM.

After few years of working found that there is a BIG GAP between what Corporates want and what candidate’s posses.

After seeing this situation, Immediately he quit the Job and conducted a research across institutions, industry and students, for 8 months and realised students are gems, but lack of innovative things they failed, So he started “DURGA SOFTWARE SOLUTIONS” for very less price in the market and to enhance the quality of people in to Corporate field by giving best knowledge to students via teaching and skill development.

</dd>
    <dt class="font-weight-bold">About Durgasoft</dt>
    <dd>  DURGA SOFT is founded by IT industry experts and the faculty is expertise in multiple domains.DURGASOFT'S management and teaching faculty includes either working IT professionls/expertise in IT industry. All of them are highly experienced in designing/development of software solutions in their respective domains.</dd>
    <dt class="font-weight-bold">Achievements</dt>
    <dd>about achievements</dd>
</dl>
<td>
    <ol>
        <li>so many students placed im mnc company</li>
        <li> Getting job in IT industry after completing course in DURGA SOFT is not a big deal.</li>
        <li>Getting selected in a job interview and getting 100 percentage in Java Certification is the daily common news at DURGA SOFT</li>
        <li>Durgsoft solutions given a wonderful platform for  the students,so many students were settled in a good position</li>
        <li>so many students placed im mnc company</li>
    </ol>
</td>
{% endblock %}
</body>
</html>